@import url("common.css");
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes type {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes type {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@-webkit-keyframes count {
  0% {
    color: white;
  }
  20% {
    color: #e098c8;
  }
  50% {
    color: #d3b7dc;
  }
  70% {
    color: #b7b9dc;
  }
  100% {
    color: #8657C4;
  }
}

@keyframes count {
  0% {
    color: white;
  }
  20% {
    color: #e098c8;
  }
  50% {
    color: #d3b7dc;
  }
  70% {
    color: #b7b9dc;
  }
  100% {
    color: #8657C4;
  }
}

@-webkit-keyframes font {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes font {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
}

body.active {
  background: #414350;
}

.index {
  width: 100%;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.index .main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: perspective(1000) rotateY(0deg);
          transform: perspective(1000) rotateY(0deg);
}

.index .main .profile {
  width: 100%;
}

.index .main .profile .my_self {
  width: 100%;
}

.index .main .profile .my_self .left {
  position: fixed;
  left: 80px;
  top: 0;
  z-index: 1;
  width: 35%;
  height: 100%;
  border-right: 1px solid #414350;
}

.index .main .profile .my_self .left .logo :hover {
  -webkit-animation: shake 0.5s infinite;
          animation: shake 0.5s infinite;
}

.index .main .profile .my_self .left .logo h1 {
  color: #8657C4;
  font-size: 180px;
  position: absolute;
  left: 10%;
  bottom: 14%;
  margin: 0;
}

.index .main .profile .my_self .left .logo p {
  color: #8657C4;
  font-size: 180px;
  position: absolute;
  left: 20%;
  bottom: 0;
  margin: 0;
}

.index .main .profile .my_self .left .con {
  width: 100%;
  text-align: left;
}

.index .main .profile .my_self .left .con .img {
  margin: 0 auto;
  width: 100%;
  margin-top: 130px;
  position: relative;
}

.index .main .profile .my_self .left .con .img img {
  width: 240px;
  margin-left: 250px;
  -webkit-box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
          box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
}

.index .main .profile .my_self .left .con .img p {
  margin: 0 atuo;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.index .main .profile .my_self .left .con .img p:after {
  content: '|';
  -webkit-animation: type 1s steps(1, end) infinite;
          animation: type 1s steps(1, end) infinite;
}

.index .main .profile .my_self .dot {
  position: absolute;
  right: 3%;
  top: 25%;
}

.index .main .profile .my_self .dot a {
  display: block;
  margin: 15px 0;
  width: 8px;
  height: 8px;
  border: 1px solid #8657C4;
  background: #8657C4;
  border-radius: 50%;
  opacity: 0.5;
}

.index .main .profile .my_self .dot a.active {
  background: #8657C4;
  opacity: 1;
}

.index .main .profile .my_self .right {
  float: right;
  width: 55%;
  height: 100vh;
  overflow: auto;
}

.index .main .profile .my_self .right .mbti {
  padding: 10% 0 0 0;
}

.index .main .profile .my_self .right .mbti article {
  width: 90%;
  margin: 0;
}

.index .main .profile .my_self .right .mbti article h2 {
  font-size: 30px;
  color: #414350;
  margin-bottom: 0;
}

.index .main .profile .my_self .right .mbti article h2::after {
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background: #8657c4;
  margin: 10px 0;
}

.index .main .profile .my_self .right .mbti article small {
  font-size: 20px;
  color: #414350;
}

.index .main .profile .my_self .right .mbti article .img_box {
  width: 100%;
  border: 1px solid #ddd;
  margin: 30px 0;
  padding: 30px 0 50px 0;
  text-align: center;
}

.index .main .profile .my_self .right .mbti article .img_box img {
  width: 400px;
  margin: 40px 0;
}

.index .main .profile .my_self .right .mbti article .img_box ul {
  width: 60%;
  margin: 0 auto;
}

.index .main .profile .my_self .right .mbti article .img_box ul li {
  text-align: left;
  list-style: none;
  font-size: 20px;
  color: #414350;
}

.index .main .profile .my_self .right .center {
  width: 100%;
  overflow: hidden;
  padding: 10% 0 0 0;
  margin: 30px 0;
}

.index .main .profile .my_self .right .center .edu {
  width: 50%;
  float: left;
}

.index .main .profile .my_self .right .center .edu article {
  width: 100%;
  margin: 0;
}

.index .main .profile .my_self .right .center .edu article h2 {
  font-size: 30px;
  color: #414350;
  margin-bottom: 0;
}

.index .main .profile .my_self .right .center .edu article h2::after {
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background: #8657c4;
  margin: 10px 0;
}

.index .main .profile .my_self .right .center .edu article ul {
  width: 90%;
  margin: 0;
  padding: 0 10px;
}

.index .main .profile .my_self .right .center .edu article ul li {
  white-space: pre-line;
  line-height: 1;
  margin-bottom: 20px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  color: #414350;
}

.index .main .profile .my_self .right .center .cer {
  width: 50%;
  float: right;
}

.index .main .profile .my_self .right .center .cer article {
  width: 100%;
  margin: 0;
}

.index .main .profile .my_self .right .center .cer article h2 {
  font-size: 30px;
  color: #414350;
  margin-bottom: 0;
}

.index .main .profile .my_self .right .center .cer article h2::after {
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background: #8657c4;
  margin: 10px 0;
}

.index .main .profile .my_self .right .center .cer article ul {
  width: 90%;
  margin: 0;
  padding: 0 10px;
}

.index .main .profile .my_self .right .center .cer article ul li {
  white-space: pre-line;
  line-height: 1;
  margin-bottom: 20px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  color: #414350;
}

.index .main .profile .my_self .right .skill {
  padding: 10% 0 0 0;
  margin: 30px 0;
}

.index .main .profile .my_self .right .skill article {
  width: 90%;
  margin: 0;
}

.index .main .profile .my_self .right .skill article h2 {
  font-size: 30px;
  color: #414350;
  margin-bottom: 0;
}

.index .main .profile .my_self .right .skill article h2::after {
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background: #8657c4;
  margin: 10px 0;
}

.index .main .profile .my_self .right .skill article figure {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.index .main .profile .my_self .right .skill article figure div {
  width: 100%;
}

.index .main .profile .my_self .right .skill article figure div img {
  width: 60px;
}

.index .main .profile .my_self .right .skill article figure p {
  font-size: 35px;
  color: #8657c4;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 8%;
}

.index .main .profile .my_self .right .skill article figure figcaption {
  position: absolute;
  top: -35%;
  left: 16%;
  font-size: 20px;
  white-space: pre-line;
  color: #414350;
}

.index .main .profile .my_self .right .skill.active figure p {
  -webkit-animation: count ease-in 5s;
          animation: count ease-in 5s;
}

.index .main .profile .my_self .right .skill.active figure figcaption {
  -webkit-animation: font 3s ease-in .5s;
          animation: font 3s ease-in .5s;
}

.index .main.active {
  -webkit-transform: perspective(1000) rotateY(-10deg) translateX(100px);
          transform: perspective(1000) rotateY(-10deg) translateX(100px);
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
}

@media (max-width: 480px) {
  .index {
    overflow: auto;
  }
  .index .main .profile {
    width: 90%;
    margin: 0 auto;
  }
  .index .main .profile .my_self {
    width: 100%;
    position: relative;
  }
  .index .main .profile .my_self .left {
    background: white;
    position: static;
    z-index: 0;
    width: 100%;
    height: 100vh;
    border-right: none;
    border-bottom: none;
  }
  .index .main .profile .my_self .left .logo :hover {
    -webkit-animation: shake 0.5s infinite;
            animation: shake 0.5s infinite;
  }
  .index .main .profile .my_self .left .logo h1 {
    color: #8657C4;
    font-size: 100px;
    position: absolute;
    left: 12%;
    bottom: 12%;
    margin: 0;
  }
  .index .main .profile .my_self .left .logo p {
    color: #8657C4;
    font-size: 100px;
    position: absolute;
    left: 23%;
    bottom: 0;
    margin: 0;
  }
  .index .main .profile .my_self .left .con {
    width: 100%;
    height: 100vh;
  }
  .index .main .profile .my_self .left .con .img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    position: relative;
  }
  .index .main .profile .my_self .left .con .img img {
    width: 180px;
    position: absolute;
    left: 55%;
    top: 8%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
            box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
  }
  .index .main .profile .my_self .left .con .img p {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 58%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
  }
  .index .main .profile .my_self .dot {
    display: none;
  }
  .index .main .profile .my_self .right {
    background: white;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 0;
    padding-left: 15%;
  }
  .index .main .profile .my_self .right .mbti {
    padding: 0;
    margin: 30px 0;
  }
  .index .main .profile .my_self .right .mbti article {
    width: 100%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .mbti article h2 {
    font-size: 25px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .mbti article h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .mbti article small {
    font-size: 18px;
    color: #414350;
  }
  .index .main .profile .my_self .right .mbti article .img_box {
    width: 100%;
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }
  .index .main .profile .my_self .right .mbti article .img_box img {
    width: 220px;
    margin: 20px 0;
  }
  .index .main .profile .my_self .right .mbti article .img_box ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .index .main .profile .my_self .right .mbti article .img_box ul li {
    color: #414350;
    text-align: left;
    list-style: none;
    line-height: 2;
    font-size: 10px;
    padding: 0 5px;
  }
  .index .main .profile .my_self .right .center {
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .edu {
    width: 100%;
    margin: 30px 0;
    float: none;
  }
  .index .main .profile .my_self .right .center .edu article {
    width: 100%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .edu article h2 {
    font-size: 25px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .center .edu article h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .center .edu article ul {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  .index .main .profile .my_self .right .center .edu article ul li {
    white-space: pre-line;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
    list-style: none;
    font-size: 13px;
  }
  .index .main .profile .my_self .right .center .cer {
    width: 100%;
    float: none;
    margin: 30px 0;
  }
  .index .main .profile .my_self .right .center .cer article {
    width: 100%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .cer article h2 {
    font-size: 25px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .center .cer article h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .center .cer article ul {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  .index .main .profile .my_self .right .center .cer article ul li {
    white-space: pre-line;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
    list-style: none;
    font-size: 13px;
  }
  .index .main .profile .my_self .right .skill {
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
  .index .main .profile .my_self .right .skill article {
    width: 100%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .skill article h2 {
    font-size: 25px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .skill article h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .skill article figure {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    position: relative;
  }
  .index .main .profile .my_self .right .skill article figure div {
    width: 100%;
  }
  .index .main .profile .my_self .right .skill article figure div img {
    width: 50px;
    margin-right: 55px;
  }
  .index .main .profile .my_self .right .skill article figure div p {
    font-size: 25px;
    color: #8657c4;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 55%;
    -webkit-animation: count ease-in 5s;
            animation: count ease-in 5s;
  }
  .index .main .profile .my_self .right .skill article figure div figcaption {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    left: 0%;
    font-size: 13px;
    white-space: pre-line;
    -webkit-animation: font 3s ease-in .5s;
            animation: font 3s ease-in .5s;
    color: #414350;
  }
}

@media (min-width: 765px) and (max-width: 1080px) {
  .index {
    overflow: auto;
  }
  .index .main .profile {
    width: 100%;
  }
  .index .main .profile .my_self {
    width: 100%;
    position: relative;
  }
  .index .main .profile .my_self .left {
    background: white;
    position: static;
    z-index: 0;
    width: 100%;
    height: 100vh;
    border-right: none;
    border-bottom: 1px solid #414350;
  }
  .index .main .profile .my_self .left .logo :hover {
    -webkit-animation: shake 0.5s infinite;
            animation: shake 0.5s infinite;
  }
  .index .main .profile .my_self .left .logo h1 {
    color: #8657C4;
    font-size: 180px;
    position: absolute;
    left: 20%;
    bottom: 17%;
    margin: 0;
  }
  .index .main .profile .my_self .left .logo p {
    color: #8657C4;
    font-size: 180px;
    position: absolute;
    left: 30%;
    bottom: 0;
    margin: 0;
  }
  .index .main .profile .my_self .left .con {
    width: 100%;
    height: 100vh;
  }
  .index .main .profile .my_self .left .con .img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    position: relative;
  }
  .index .main .profile .my_self .left .con .img img {
    width: 220px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
            box-shadow: 0px 0px 10px rgba(148, 71, 241, 0.5);
  }
  .index .main .profile .my_self .left .con .img p {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
  }
  .index .main .profile .my_self .left .con .img p:after {
    content: '|';
    -webkit-animation: type 1s steps(1, end) infinite;
            animation: type 1s steps(1, end) infinite;
  }
  .index .main .profile .my_self .dot {
    display: none;
  }
  .index .main .profile .my_self .right {
    background: white;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 0 10%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .mbti {
    padding: 0;
    margin: 50px 0;
  }
  .index .main .profile .my_self .right .mbti article {
    width: 90%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .mbti article h2 {
    font-size: 30px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .mbti article h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .mbti article small {
    font-size: 20px;
    color: #414350;
  }
  .index .main .profile .my_self .right .mbti article .img_box {
    width: 100%;
    border: 1px solid #ddd;
    margin: 30px 0;
    padding: 30px 0 50px 0;
    text-align: center;
  }
  .index .main .profile .my_self .right .mbti article .img_box img {
    width: 350px;
    margin: 40px 0;
  }
  .index .main .profile .my_self .right .mbti article .img_box ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .index .main .profile .my_self .right .mbti article .img_box ul li {
    color: #414350;
    text-align: center;
    list-style: none;
    line-height: 2;
    font-size: 18px;
  }
  .index .main .profile .my_self .right .center {
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .edu {
    width: 100%;
    margin: 30px 0;
    float: none;
  }
  .index .main .profile .my_self .right .center .edu article {
    width: 90%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .edu article h2 {
    font-size: 30px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .center .edu article h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .center .edu article ul {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  .index .main .profile .my_self .right .center .edu article ul li {
    white-space: pre-line;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
    list-style: none;
    font-size: 18px;
  }
  .index .main .profile .my_self .right .center .cer {
    width: 100%;
    float: none;
    margin: 30px 0;
  }
  .index .main .profile .my_self .right .center .cer article {
    width: 90%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .center .cer article h2 {
    font-size: 30px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .center .cer article h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .center .cer article ul {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  .index .main .profile .my_self .right .center .cer article ul li {
    white-space: pre-line;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
    list-style: none;
    font-size: 18px;
  }
  .index .main .profile .my_self .right .skill {
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
  .index .main .profile .my_self .right .skill article {
    width: 90%;
    margin: 0 auto;
  }
  .index .main .profile .my_self .right .skill article h2 {
    font-size: 30px;
    color: #414350;
    margin-bottom: 0;
  }
  .index .main .profile .my_self .right .skill article h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: #8657c4;
    margin: 10px 0;
  }
  .index .main .profile .my_self .right .skill article figure {
    width: 100%;
    margin: 20px 0;
    position: relative;
  }
  .index .main .profile .my_self .right .skill article figure div {
    width: 100%;
  }
  .index .main .profile .my_self .right .skill article figure div img {
    width: 50px;
  }
  .index .main .profile .my_self .right .skill article figure p {
    font-size: 30px;
    color: #8657c4;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 12%;
    -webkit-animation: count ease-in 5s;
            animation: count ease-in 5s;
  }
  .index .main .profile .my_self .right .skill article figure figcaption {
    width: 90%;
    position: absolute;
    top: -25%;
    left: 24%;
    font-size: 16px;
    white-space: pre-line;
    -webkit-animation: font 3s ease-in .5s;
            animation: font 3s ease-in .5s;
    color: #414350;
  }
}
/*# sourceMappingURL=about_me.css.map */