@import url("common.css");

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 20px;
    }
}

//그라데이션 컬러
//#e098c8 #d3b7dc #b7b9dc
// background: linear-gradient(to bottom, #e098c8, #d3b7dc, #b7b9dc);
// background-origin: border-box;
//border-image: linear-gradient(#e098c8, #d3b7dc, #b7b9dc) 1 / 5px;
.index {
    width: 100%;
    background: #000;

    .sidenav {
        .nav {
            width: 300px;
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background: white;
            border: 1px solid white;
            border-image: linear-gradient(#e098c8, #d3b7dc, #b7b9dc) 1 / 5px;
            transform: translateX(-100%);

            .title {
                text-align: center;
                margin: 0 auto;

                h1 {
                    margin: 0 auto;
                    font-size: 60px;
                    margin-top: 50%;

                    img {
                        margin-left: -2%;
                    }
                }
            }

            .sub {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                a {
                    text-align: center;
                    text-decoration: none;
                    font-size: 20px;
                    color: #414350;
                    display: block;
                }

                :hover {
                    color: #8657c4;
                    transition: .3s;
                }

                :active {
                    color: #8657c4;
                }
            }

            :nth-of-type(1) {
                top: 45%;
            }

            :nth-of-type(2) {
                top: 55%;
            }

            .active {
                transform: translateX(0%);
            }
        }

        .menu-trigger {
            width: 50px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #e098c8, #d3b7dc, #b7b9dc);

            // display: none;

            span {
                width: 20px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 30%;
                background: #414350;

                .active {
                    transform: rotate(60deg);
                    background: #8657c4;
                }
            }

            .active {
                transform: translateX(50%);
            }
        }
    }

    .main {
        // display: block;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        border: 1px solid hotpink;
        background: white;
        position: relative;
        margin-left: 50px;

        .btn {
            font-size: 50px;

            // overflow: hidden;
            position: absolute;
            top: 47%;
            width: 100%;
            cursor: pointer;

            .prev {
                float: left;
                margin-left: 3%;
                background: none;
                border: none;
                color: skyblue;
            }

            .next {
                float: right;
                margin-right: 3%;
                background: none;
                border: none;
                color: slateblue;
            }
        }

        section {
            width: 75%;
            height: 650px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 3px solid gold;

            ul {
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                height: 650px;
                border: 3px solid tomato;

                li {
                    margin: 0 auto;
                    display: block;
                    height: 650px;
                    border: 3px solid blue;

                    .contents {
                        position: relative;
                        margin: 0;

                        img {
                            width: 70%;
                            height: 650px;
                            margin-right: 50%;
                        }

                        .text_box {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 0;
                            width: 30%;
                            height: 650px;
                            background: #eee;
                            text-align: center;

                            .comment {
                                text-align: right;
                                display: inline-block;
                                padding: 10% 0 20% 30%;

                                p {
                                    font-size: 20px;
                                }

                                h2 {
                                    font-size: 40px;
                                }

                                .color {
                                    width: 100%;
                                    height: 22px;
                                    position: relative;

                                    span {
                                        width: 20px;
                                        height: 20px;                                        
                                        position: absolute;
                                        right: 45%;
                                        top: 0;
                                        border: 1px solid #ad74ce;
                                        border-radius: 50%;
                                        background: #ad74ce;
                                        
                                    }
                                    span:nth-of-type(2) {
                                        width: 20px;
                                        height: 20px;                                       
                                        position: absolute;
                                        right: 30%;
                                        top: 0;
                                        border: 1px solid#fcfbe3;
                                        border-radius: 50%;
                                        background: #fcfbe3;
                                    }
                                    span:nth-of-type(3) {
                                        width: 20px;
                                        height: 20px;                                        
                                        position: absolute;
                                        right: 15%;
                                        top: 0;
                                        border: 1px solid #333;
                                        border-radius: 50%;
                                        background: #333;
                                    }
                                    span:nth-of-type(4) {
                                        width: 20px;
                                        height: 20px;                                        
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        border: 1px solid #333;
                                        border-radius: 50%;
                                        background: #ddd;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
