@import url("common.css");
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes click {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes click {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes shadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transition: .3;
    transition: .3;
    -webkit-box-shadow: 15px 15px 10px black;
            box-shadow: 15px 15px 10px black;
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transition: .3;
    transition: .3;
    -webkit-box-shadow: 15px 15px 10px black;
            box-shadow: 15px 15px 10px black;
  }
}

.Loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.Loader .main {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e098c8), color-stop(#d3b7dc), to(#b7b9dc));
  background: linear-gradient(to bottom, #e098c8, #d3b7dc, #b7b9dc);
}

.Loader .main .box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.Loader .main .box .text {
  cursor: pointer;
  list-style: none;
  background: white;
  color: black;
  margin: 0 auto;
  padding: 50px 80px;
  width: 40%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.Loader .main .box .text h1 {
  margin: 0 auto;
  text-align: left;
  font-size: 70px;
  -webkit-animation: up 500ms linear .5s forwards;
          animation: up 500ms linear .5s forwards;
  opacity: 0;
}

.Loader .main .box .text h1:after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: #d3b7dc;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.Loader .main .box .text p {
  text-align: left;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 0;
  -webkit-animation: up 500ms linear 1s forwards;
          animation: up 500ms linear 1s forwards;
  opacity: 0;
}

.Loader .main .box .text:hover h1:after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background: #d3b7dc;
  -webkit-transition: .3s;
  transition: .3s;
}

.Loader .main .box .text:hover {
  -webkit-box-shadow: 15px 15px 10px black;
          box-shadow: 15px 15px 10px black;
  -webkit-transition: .5s;
  transition: .5s;
}

.Loader .main .box .text.active {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.Loader .main img {
  width: 2%;
  position: absolute;
  bottom: 32%;
  right: 32%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  opacity: 0;
  -webkit-animation: click 1s linear 2s infinite;
          animation: click 1s linear 2s infinite;
}

.Loader.active {
  -webkit-transform: translateX(-97.7%);
          transform: translateX(-97.7%);
  -webkit-transition: 1.1s;
  transition: 1.1s;
  z-index: 0;
}

@media (max-width: 480px) {
  .Loader .main .box .text {
    width: 80%;
    height: 200px;
    padding: 40px 40px;
    -webkit-animation: shadow 2s ease-in forwards;
            animation: shadow 2s ease-in forwards;
  }
  .Loader .main .box .text .title h1 {
    font-size: 25px;
  }
  .Loader .main .box .text p {
    font-size: 12px;
    margin-top: 30px;
  }
  .Loader .main .box img {
    width: 6%;
    bottom: 38%;
    right: 18%;
  }
  .Loader.active {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    -webkit-transition: 1.1s;
    transition: 1.1s;
    z-index: 0;
  }
}

@media (min-width: 500px) and (max-width: 760px) {
  .Loader .main .box .text {
    width: 65%;
    height: 250px;
    padding: 40px 40px;
    -webkit-animation: shadow 2s ease-in forwards;
            animation: shadow 2s ease-in forwards;
  }
  .Loader .main .box .text .title h1 {
    font-size: 30px;
  }
  .Loader .main .box .text p {
    font-size: 15px;
    margin-top: 30px;
  }
  .Loader .main .box img {
    width: 5%;
    bottom: 35%;
    right: 25%;
  }
  .Loader.active {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    -webkit-transition: 1.1s;
    transition: 1.1s;
    z-index: 0;
  }
}

@media (min-width: 765px) and (max-width: 1080px) {
  .Loader .main .box .text {
    width: 60%;
    height: 300px;
    padding: 60px 70px;
    -webkit-animation: shadow 2s ease-in forwards;
            animation: shadow 2s ease-in forwards;
  }
  .Loader .main .box .text .title h1 {
    font-size: 40px;
  }
  .Loader .main .box .text p {
    font-size: 15px;
  }
  .Loader .main .box img {
    width: 3%;
    bottom: 40%;
    right: 30%;
  }
  .Loader.active {
    -webkit-transform: translateX(-93.5%);
            transform: translateX(-93.5%);
    -webkit-transition: 1.1s;
    transition: 1.1s;
    z-index: 0;
  }
}

@media (min-width: 2000px) {
  .Loader .main .box .text {
    width: 70vw;
    height: 40vh;
    padding: 3vh 5vw;
    -webkit-animation: shadow 2s ease-in forwards;
            animation: shadow 2s ease-in forwards;
  }
  .Loader .main .box .text .title h1 {
    font-size: 6vw;
  }
  .Loader .main .box .text p {
    font-size: 2vw;
  }
  .Loader .main .box img {
    width: 5vw;
    bottom: 35vh;
    right: 20vw;
  }
  .Loader.active {
    -webkit-transform: translateX(-97vw);
            transform: translateX(-97vw);
    -webkit-transition: 1.1s;
    transition: 1.1s;
    z-index: 0;
  }
}
/*# sourceMappingURL=index.css.map */