@import url("common.css");

//그라데이션 컬러
//#e098c8 #d3b7dc #b7b9dc
// background: linear-gradient(to bottom, #e098c8, #d3b7dc, #b7b9dc);
// background-origin: border-box;

.Loader {
    z-index: 9999;
    width: 100%;
    height: 100vh;
    // padding: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: fixed;
    top:0;
    left: 0;

    .main {
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #e098c8, #d3b7dc, #b7b9dc);
        // border: 5px solid green;

        .box {
            margin: 0 auto;
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            position: relative;

            .text {
                cursor: pointer;
                background: white;
                color: black;
                margin: 0 auto;
                padding: 50px 80px;
                width:40%;
                height: 400px;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                mix-blend-mode: overlay;
                opacity: 1;
                transition: .5s;

                // mix-blend-mode: screen;

                h1 {
                    margin: 0 auto;
                    text-align: left;
                    font-size: 70px;
                }

                p {
                    text-align: left;
                    font-size: 20px;
                    margin-top: 40px;
                    margin-bottom: 0;
                }
            }
            .text:hover {
                box-shadow: 15px 15px 10px rgba(0, 0, 0, 1);
                transition: .5s;
            }
            .text.active{
                opacity: 0;
                transition: 2s;
            }
                
        }
          
    }
}
.Loader.active{
    transform: translateX(-100%);
    transition: 2.5s;
}
