/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/********** slide **********/
* {
    box-sizing: border-box;
}

.swiper_container {
    width: 80%;
    height: 700px;
   
    margin: 0 auto;
    position: relative;
}

.slide {
    width: 90%;
    height:100%;    
}

.slide section {
    width: 100%;
    height: 100%;
}

/********** button **********/
.swiper_container .slick-prev, .swiper_container .slick-next {
    border: none;
    border-radius: 10%;
    font-size: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.0);
    z-index: 5;
    outline-style: none;
}
.swiper_container .slick-prev:hover, .swiper_container .slick-next:hover{
    background: rgba(0,0,0,0.1);
}

.swiper_container .slick-prev {
    left: -5%;    
}

.swiper_container .slick-next {
    right: -5%;    
}

.swiper_container .slick-prev:after {
    content: '《';
    font-size: 26px;
    color: rgb(44, 14, 244);
}

.swiper_container .slick-next:after {
    content: '》';
    font-size: 26px;
    color: rgb(144, 14, 188);
}

/********** indi **********/
.slide .slick-dots {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide .slick-dots li {
    display: inline-block;
    margin: 0 20px;
}

.slide .slick-dots li button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #8657c4;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    border: none;
    outline-style: none;
}

.slide .slick-dots li.slick-active button {
    width: 12px; height: 12px;
    border: none;
    opacity: 1;
    outline-style: none;
}

@media (max-width:480px){
    .swiper_container .slick-prev, .swiper_container .slick-next{
        display: none;
    }
    .slide .slick-dots{
        top: -8%;
    }
    .slide .slick-dots li {
        margin: 0 15px;
    }
    .slide .slick-dots li button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #8657c4;
        opacity: 0.5;
        font-size: 0;
        padding: 0;
        border: none;
        outline-style: none;
    }
    
    .slide .slick-dots li.slick-active button {
        width: 10px; height: 10px;
        border: none;
        opacity: 1;
        outline-style: none;
    }
}
@media (min-width:765px) and (max-width:1080px){
    .swiper_container .slick-prev, .swiper_container .slick-next{
        display: none;
    }
    .slide .slick-dots{
        top: -5%;
    }
}